flask==3.0.3
flask-cors==4.0.0
gunicorn==21.2.0

python-dotenv==1.0.1
requests==2.31.0
urllib3==2.2.1

# LangChain
langchain-community==0.3.7
langchain-pinecone==0.2.8
langchain-huggingface==0.1.2

# HuggingFace
transformers==4.41.2
sentence-transformers==2.6.1
torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# Vector DB
pinecone-client==3.2.2

# Document & Vision
pypdf==4.2.0
pytesseract==0.3.10
Pillow==10.2.0
opencv-python-headless==4.9.0.80

# Utilities
gTTS==2.5.1
twilio==9.0.5
